<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'first_app/css/style.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <h1>Users</h1>
            <table class="table">
                <tr>
                    <td>id</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Created at</td>
                    <td>Actions</td>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td><a href="users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td>
                        <a href="users/{{user.id}}">Show</a> 
                        <a href="users/edit/{{user.id}}">Edit</a> 
                        <a href="delete/{{user.id}}">Delete</a> 
                    </td>
                </tr>
                {% endfor %}
            </table>
          </div>
          <a href="/users/new"><button type="submit" class="btn btn-default">Add User</button></a>
    </div>

</body>
</html>